<template>
  <transition name="fade-up-down">
    <div id="balance-cont">
      <div class="section">
        <p class="section__title main_title">Информация о балансах</p>
        <div class="cards__container">
          <div class="card" v-for="index in commentsToShow" :key="index.id">
            <p class="card__title">{{ Balances[index - 1].title }}</p>
            <div class="card_amount" :class="{
              'red_': Number(Balances[index - 1].sum) / Number(Balances[index - 1].sum_plan) <= 0.45
            }">
              {{ Balances[index - 1].sum }} ₽
              <p class="card__title"> <span v-if="Balances[index - 1].sum_plan">/ {{ Balances[index - 1].sum_plan
              }}</span></p>
            </div>
          </div>
        </div>
        <button v-if="this.commentsToShow < this.Balances.length" @click="Toogle()">Показать еще</button>
        <button v-else @click="Toogle()">Cкрыть</button>
      </div>
    </div>
  </transition>

</template>

<script>

export default {
  data() {
    return {
      Balances: [{
        title: "Сбербанк",
        sum: 10000,
        sum_plan: null,
      },
      {
        title: "Сбербанк",
        sum: 10000,
        sum_plan: null,
      },
      {
        title: "Росбанк",
        sum: 2000,
        sum_plan: 5000,
      },
      {
        title: "ВТБ",
        sum: 100000,
        sum_plan: 5000,
      },
      {
        title: "TBC",
        sum: 1000,
        sum_plan: 5000,
      },
      {
        title: "Сбербанк",
        sum: 10000,
        sum_plan: null,
      },
      {
        title: "Росбанк",
        sum: 2000,
        sum_plan: 5000,
      },
      {
        title: "ВТБ",
        sum: 100000,
        sum_plan: 5000,
      },
      {
        title: "TBC",
        sum: 1000,
        sum_plan: 5000,
      },
      {
        title: "Сбербанк",
        sum: 10000,
        sum_plan: null,
      },
      {
        title: "Росбанк",
        sum: 2000,
        sum_plan: 5000,
      },
      {
        title: "ВТБ",
        sum: 100000,
        sum_plan: 5000,
      },
      {
        title: "TBC",
        sum: 1000,
        sum_plan: 5000,
      },
      ],
      commentsToShow: 6,
      totalComments: 0
    }
  },
  computed: {
  },
  methods: {
    Toogle() {
      if (this.commentsToShow == this.Balances.length) {
        this.commentsToShow = 0
      }
      if (this.commentsToShow < this.Balances.length) {
        this.commentsToShow += 6
        if (this.commentsToShow > this.Balances.length) {
          this.commentsToShow = this.Balances.length
          return
        }
      }

    }
  },
  mounted() {
    // this.totalComments = this.Balances.length
  }
};
</script>

<style>
</style>