* {
  font-family: "Cera Pro", sans-serif;
}
$_width: 1440px;


:root {
  --coral: #39B8BA;
  --black: #333333;
  --dark: #dadada;
  --white: #fff;
  --red: #FC6E6A;
  --grey: #909090;
  --grey-dark: #6E6E6E;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

 


.section {
  max-width: $_width;
  height: fit-content;
  margin: 0 auto;
  padding: 20px;
  transition: 300ms ease;


  .section__title {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: var(--black);
    transition: 300ms ease;


  }


  .cards__container {
    margin: 50px 0;
    display: grid;
    grid-gap: 12px;
    transition: 300ms ease;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));

    .card {
      transition: 300ms ease;
      // animation: load 1s;
      animation: coming 1s;
      cursor: pointer;
      max-width: 327px;
      height: fit-content;
      padding: 25px 0 25px 14px;
      background: var(--white);
      box-shadow: 0px 3.5px 13.8px rgba(130, 150, 180, 0.32);
      border-radius: 14px;


      .card__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: var(--black);
        margin-bottom: 7px;
      }

      .card_amount {
        display: flex;
        align-items: flex-end;
        font-weight: 500;
        font-size: 26px;
        line-height: 27px;
        color: var(--coral);

        p {
          margin: 0 !important;
        }
      }

      .red_ {
        color: var(--red) !important;
      }

    }

    .card:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
     
    
     
  }

  .flex_ {
    display: flex;
    transition: 300ms ease;

  }

  button {
    transition: 0.3s ease;
    display: block;
    margin: 78px auto;
    padding: 6px 16px;
    gap: 10px;
    max-width: 150px;
    background: var(--coral);
    border-radius: 16px;
    color: var(--white);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    transition: 300ms ease;
  }
  button:hover{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  }

  .line {
    width: 100%;
    height: 0px;
    border: .3px solid #DFDCDC;
  }

}

@keyframes load {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-up-down-enter-active {
  transition: all 0.3s ease;
}

.fade-up-down-leave-active {
  transition: all 0.3s ease;
}

.fade-up-down-enter {
  transform: translateY(10%);
  opacity: 0;
}

.fade-up-down-leave-to {
  transform: translateY(10%);
  opacity: 0;
}

.fade-enter-active {
  -webkit-transition: opacity 2s;
  transition: opacity 0.3s;
}

.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active {
  animation: coming 0.4s;
  animation-delay: 0.2s;
  opacity: 0;
}

.fade-leave-active {
  animation: going 0.4s;
}

@keyframes going {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-10px);
    opacity: 0;
  }
}

@keyframes coming {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
