$width_laptops: 1200px;
$width_tables: 1024px;
$width_phones: 860px;
$width_phones_med: 610px;
$width_babies: 460px;

body {
  @media only screen and (max-width: $width_laptops) {
    .cards__container {
      transition: 300ms ease !important;
      margin: 20px 0 !important;
      grid-gap: 20px !important;
      grid-template-columns: repeat(auto-fill, minmax(305px, 1fr)) !important;
      transition: 300ms ease !important;
    }
  }

  @media only screen and (max-width: $width_tables) {
    .section {
      padding: 0 20px !important;
      margin: 0 auto !important;

      .section__title {
        font-size: 38px !important;
        line-height: 47px !important;
      }


      .cards__container {
        transition: 300ms ease !important;
        margin: 72px 0 !important;
        grid-gap: 18px !important;
        grid-template-columns: repeat(auto-fill, minmax(305px, 1fr)) !important;

        .card {
          transition: 300ms ease !important;

          padding: 35px 0 35px 20px !important;

          .line_card {
            height: 96px !important;
          }
        }

        .card__title {
          transition: 300ms ease !important;

          font-size: 23.5px !important;
          line-height: 30px !important;
        }

        .card_amount {
          transition: 300ms ease !important;

          font-size: 38.3px !important;
          line-height: 41px !important;
          font-weight: 500 !important;

          p {
            font-size: 23px !important;
          }
        }
      }

      button {
        font-size: 26px !important;
        line-height: 35px !important;
        max-width: 221px !important;
        transition: 300ms ease !important;
      }
    }
  }

  @media only screen and (max-width: $width_phones) {
    .section {
      padding: 0 10px !important;
      margin: 0 auto !important;
      transition: 300ms ease !important;

      .section__title {
        font-size: 24px !important;
        line-height: 47px !important;
      }

      .cards__container {
        transition: 300ms ease !important;
        margin: 20px 0 !important;
        grid-gap: 18px !important;

        grid-template-columns: repeat(auto-fill, minmax(305px, 1fr)) !important;
        // grid-template-columns: 1fr 1fr !important;

        transition: 300ms ease !important;
      }
    }
  }



  @media only screen and (max-width: $width_babies) {
    .cards__container {
      transition: 300ms ease !important;
      grid-gap: 24px;
      grid-template-columns: 1fr !important;
      transition: 300ms ease !important;
    }
  }
}
