#projects-cont {
  .card {
    gap: 8px;
    padding: 19px 0 19px 14px;

    .flex_ {
      gap: 12px;
      

      .card__title {
        width: fit-content;
        color: var(--grey-dark);
      }

      .line_card {
        display: inline-block;
        width: 0px;
        height: 65px;
        border: 2px solid var(--coral);
        background-color: var(--coral);
        border-radius: 3px;
       
      }
      .red_line_{
        border: 2px solid var(--red);
        background-color: var(--red);
      }

      .flex_ {
        align-items: center;

        h3 {
          font-style: normal;
          font-weight: 500;
          font-size: 42px;
          line-height: 17px;
        }

        .flex_ {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 3px;

          .red_ {
            font-style: normal;
            font-weight: 500;
            font-size: 26px;
            line-height: 17px;
          }

          .flame_icon {
            width: 8px;

          }
        }

        .flex_secondary {
          // padding-top: 5px;
          display: flex;
          flex-direction: column;

          gap: 8px;
          justify-content: flex-start;
          align-items: flex-start;

          .loader {
            // margin-top: 5px;
            width: 74.25px;
            height: 10.62px;
            background: #EFEFEF;
            border-radius: 16px;
            position: relative;

            div {
              border-radius: 16px;
              width: 74.25px;
              height: 10.62px;
              position: absolute;
              top: 0;
              left: 0;
              background-color: red;
            }
            .coral_{
              background-color: var(--coral);
            }
          }
        }

      }






    }
  }
}
